[[extend 'layout.html']]

<div class="section" style="padding: 50px;">

    <h1 class="title is-2">Courses Found</h1>
    <div class="is-size-4">Feel free to explore any of the course pages to get other students' perspectives!</div>
    
    <br><br>
    
    <!--
    <a class="button is-link" href="[[=URL('search_course')]]">
        <span>Search Another Course</span>
    </a>
    -->
    <div align="left">
        <a class="button is-warning" href="[[=URL('index')]]">
            <span>Back to Search</span>
        </a>
	    <a class="button is-link" href="[[=URL('add_course')]]">
			<span>Don't see your course? Add one!</span>
		</a>  
	</div>
	


    <div class="container">
          <br>
          [[for match in allMatches:]]
            <div class="box">
                <div class="is-size-3"><b>[[=match.department]] [[=match.class_number]]: [[=match.class_name]]</b></div>
                <div class="is-size-5">[[=match.class_description]]</div>
                <br>
                <div style="display: flex; justify-content: space-between;">
                    <div class="is-size-5">
                        <b>Average Rating:</b> 
                        [[=match.avg_review]]
                         <i class="fa fa-star" style="color: rgb(230,230,0);"></i>
                    </div>
    				<div class="is-size-5">
    				    <b>Average Workload:</b> 
    				    [[=match.avg_workload]]
    				    <i class="fas fa-paper-plane" style="color: rgb(0,153,230)"></i>
    				</div>
    				<div class="is-size-5">
    				    <b>Average Difficulty:</b> 
    				    [[=match.avg_difficulty]]
    				    <i class="fas fa-angry" style="color: rgb(255,77,77)"></i>
    				</div>
    			</div>
                <br>
                <a class="button is-primary" href="[[=URL('display_course', match.department, match.class_number)]]">
                    <span>See Reviews</span>
                </a>
            </div>
          [[pass]]
    </div>
    <br><br>
 
  
</div>