[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>

  <h1 class="title">Course Reviews for [[=course_info.department]] [[=course_info.class_number]] [[=course_info.class_name]] </h1>
  
  <a class="button is-success" href="[[=URL('search_course')]]">
    <span>Search Another Course</span>
  </a>
  
  <a class="button is-success" href="[[=URL('index')]]">
    <span>Back to Main Page</span>
  </a>
  
  <a class="button is-success" @click="set_add_status(true)">
	<span>Write a Review</span>
  </a>
  
	<div v-if="adding_new_review" class="field">
	<div class="form">
	<div class="field">
	  <p class="control">
		<textarea class="text" placeholder="e.g. Hello world!" rows="3" v-model="new_teacher"></textarea>
	  </p>
	</div>
	<div class="field">
	   <span @mouseout="stars_out()">
                <span @mouseover="stars_over(star_idx)"
					  @click="set_stars(star_idx)"
                      v-for="star_idx in [1, 2, 3, 4, 5]">
                  <i v-if="star_idx <= new_rating" class="fa fa-star"></i>
                  <i v-if="star_idx > new_rating" class="fa fa-star-o"></i>
                </span>
	   </span>
	</div>
	<div class="field">
	  <p class="control">
		<textarea class="textarea" placeholder="e.g. Hello world!" rows="3" v-model="new_review"></textarea>
	  </p>
	</div>
	  <button class="button is-primary" @click="submit_review" >Submit Review</button>
	  <button class="button is-warning" @click="set_add_status(false)" >Cancel</button>
	</div>
	</div>
	
	
  <div id="reviews_list" class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Teacher</th>
        <th>Rating</th>
        <th>Review</th>
      </tr>
      <tr v-for="r in reviews_list.slice().reverse()">
        <td>{{r.teacher}}</td>
        <td>
		<span v-for="star_idx in [1, 2, 3, 4, 5]">
                  <i v-if="star_idx <= r.rating" class="fa fa-star"></i>
                  <i v-if="star_idx > r.rating" class="fa fa-star-o"></i>
                </span>
		</td>
        <td>{{r.review}}</td>
		<td>
		<div v-if="r.created_by==current_user">
			<p class="has-text-right has-text-danger is-size-4"><span class="icon"><i @click="delete_review(r._idx)" class="fa fa-fw fa-trash"></i></span></p>
		</div>
		</td>
      </tr>
	  [[pass]]

    </table>
  </div>
</div>



[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let get_reviews_url = "[[=XML(get_reviews_url)]]";
    let submit_review_url = "[[=XML(submit_review_url)]]";
    let delete_review_url = "[[=XML(delete_review_url)]]";
	let course_id = "[[=course_id]]";
</script>
<script src="js/display_course.js"></script>
[[end]]