[[extend 'layout.html']]

<div class="section">

  <h1 class="title">Found Reviews</h1>
  
  <a class="button is-success" href="[[=URL('search_course')]]">
    <span>Search Another Course</span>
  </a>
  
  <a class="button is-success" href="[[=URL('index')]]">
    <span>Back to Main Page</span>
  </a>

  <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Major</th>
        <th>Number</th>
        <th>Name</th>
        <th>teacher</th>
        <th>Rating</th>
        <th>Review</th>
        <th></th>
        <th></th>
      </tr>
      [[for match in perfectMatches:]]
      <tr>
        <td>[[=match.courses.department]]</td>
        <td>[[=match.courses.class_number]]</td>
        <td>[[=match.courses.class_name]]</td>
        <td>[[=match.reviews.teacher]]</td>
        <td>[[=match.reviews.rating]]/5</td>
        <td>[[=match.reviews.review]]</td>
      </tr>
	  [[pass]]

      [[for match in closeMatches1:]]
      <tr>
        <td>[[=match.courses.department]]</td>
        <td>[[=match.courses.class_number]]</td>
        <td>[[=match.courses.class_name]]</td>
        <td>[[=match.reviews.teacher]]</td>
        <td>[[=match.reviews.rating]]/5</td>
        <td>[[=match.reviews.review]]</td>
      </tr>
      [[pass]]
	  
      [[for match in closeMatches2:]]
      <tr>
        <td>[[=match.courses.department]]</td>
        <td>[[=match.courses.class_number]]</td>
        <td>[[=match.courses.class_name]]</td>
        <td>[[=match.reviews.teacher]]</td>
        <td>[[=match.reviews.rating]]/5</td>
        <td>[[=match.reviews.review]]</td>
      </tr>
      [[pass]]
	  
    </table>
  </div>



</div>