[[extend 'layout.html']]

<div class="section">

  <h1 class="title">All Reviews</h1>

  <a class="button is-success" href="[[=URL('add_review')]]">
    <span class="icon"><i class="fa fa-plus"></i></span>
    <span>Add Review</span>
  </a>
  
  <a class="button is-success" href="[[=URL('search_course')]]">
    <span>Search course</span>
  </a>

  <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Major</th>
        <th>Number</th>
        <th>Name</th>
        <th>teacher</th>
        <th>Rating</th>
        <th>Review</th>
        <th></th>
        <th></th>
      </tr>
      [[for review in reviews:]]
      <tr>
        <td>[[=review.courses.department]]</td>
        <td>[[=review.courses.class_number]]</td>
        <td>[[=review.courses.class_name]]</td>
        <td>[[=review.reviews.teacher]]</td>
        <td>[[=review.reviews.rating]]/5</td>
        <td>[[=review.reviews.review]]</td>

      </tr>
      [[pass]]
    </table>
  </div>



</div>