[[extend 'layout.html']]



<div class="section" id="vue-target">

  <h1 class="title">My Reviews</h1>

  <a class="button is-success" href="[[=URL('search_course')]]">
    <span>Search Another Course</span>
  </a>

  <a class="button is-success" href="[[=URL('index')]]">
    <span>Back to Main Page</span>
  </a>


  <div v-for="r in reviews_list.slice().reverse()">
        <div class="box">
          <p class="has-text-right">
          <a class="button">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
          </a>
           </p>
           <div>
               <b>{{r.courses.department}} {{r.courses.class_number}}:
                   {{r.courses.class_name}}</b>

           </div>
            <br>
            <div v-for="fn in ['teacher', 'review']">
            <div class="control">
                <div><b><span v-if="fn=='teacher'">Professor:</span></b>
                    <span v-if="fn=='teacher'"><input type="text" class="input" v-model="r.reviews[fn]"/></span>
                    <span v-else><textarea class="textarea" v-model="r.reviews[fn]"></textarea></span>
                </div>
                <br>
            </div>

            </div>
            <br>
            <div>
                <b>Overall Rating</b>
                <span v-for="star_idx in [1, 2, 3, 4, 5]">
                  <i v-if="star_idx <= r.rating" class="fa fa-star" style="color: rgb(230,230,0);"></i>
                  <i v-if="star_idx > r.rating" class="fa fa-star-o" style="color: rgb(230,230,0);"></i>
                </span>
            </div>
            <div>
                <b>Difficulty</b>
                <span v-for="bomb_idx in [1, 2, 3, 4, 5]">
                  <i v-if="bomb_idx <= r.difficulty" class="fas fa-angry" style="color: rgb(255,77,77)"></i>
                  <i v-if="bomb_idx > r.difficulty" class="far fa-angry" style="color: rgb(255,77,77)"></i>
                </span>
            </div>
            <div>
                <b>Workload</b>
                <span v-for="plane_idx in [1, 2, 3, 4, 5]">
                  <i v-if="plane_idx <= r.workload" class="fas fa-paper-plane" style="color: rgb(0,153,230)"></i>
                  <i v-if="plane_idx > r.workload" class="far fa-paper-plane" style="color: rgb(0,153,230)"></i>
                </span>
            </div>
            <br>
            <!-- Trying to get the author of each Review -->
            <div class="is-size-6 has-text-grey"><i>by {{r.created_by_username}}</i></div>
			<div class="is-size-6 has-text-grey"><i>created: {{r.created_time}}</i></div>
          <p class="has-text-right has-text-danger is-size-4"><span class="icon"><i @click="delete_review(r._idx)" class="fa fa-fw fa-trash"></i></span></p>

        </div>
        <br>
  </div>
</div>
</div>



</div>
[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let get_users_reviews_url = "[[=XML(get_users_reviews_url)]]";
    let delete_review_url = "[[=XML(delete_review_url)]]";

</script>
<script src="js/users_reviews.js"></script>
[[end]]